div.header {
  background-color: rgb(236, 31, 39);
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}


div.header img {
  height: 100px;
  float: left;
}

div.header h1 {
  flex-grow: 1;
  text-align: center;
  position: relative;
  left: -86px;
}
